.Home-main-container {
  align-items: center;
  background-color: var(--russian-violet-color);
  color: var(--champgane-pink-color);
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.Home-content-container {
  border: solid red 1px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  width: 20%;
}

.Home-name-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 500;
  width: 280px;
}

.Home-division-hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid var(--ocean-blue-color);
  margin-top: 10px;
  width: 270px;
}

.Home-links-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  width: 280px;
}

.Home-about:hover {
  cursor: pointer;
}

.Home-info-container {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: center;
  position: relative;
  width: 33%;
}

.Home-individual-project-container {
  align-items: center;
  border: 1px solid var(--champgane-pink-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.Home-project-name {
  font-size: 20px;
}

.Home-icons-project-container {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 5px;
}

.Home-icons-project-container a {
  height: 40px;
  width: 40px;
}

.Home-icon-project {
  width: 40px;
}

.Home-about-container {
  align-items: center;
  border: solid 1px var(--ocean-blue-color);
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: justify;
  transition: 1s;
  visibility: hidden;
  width: 100%;
}

.Home-project-container {
  align-items: center;
  border: solid 1px var(--ocean-blue-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 10px;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: 1s;
  visibility: hidden;
  width: 100%;
}

.Home-showing-container {
  opacity: 1;
  visibility: visible;
}