@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --ocean-blue-color: #3428a4;
  --champgane-pink-color: #edd3c4;
  --russian-violet-color: #100C31;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}